.button {
  @apply flex items-center gap-6 px-4 md:px-6 xl:px-8 xl:pl-12 py-8 md:pt-20 tracking-wide uppercase  rounded-2xl shadow-md text-md md:text-lg xl:text-xl font-black bg-neutral-content text-base-200;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg) scale(1) translateX(0px);
  }
  25% {
    transform: rotate(8deg) scale(1.05) translateX(2px);
  }
  50% {
    transform: rotate(0deg) scale(1) translateX(0px);
  }
  75% {
    transform: rotate(-5deg) scale(1.05) translateX(-1px);
  }
  100% {
    transform: rotate(0deg) scale(1) translateX(0px);
  }
}

.button:hover span {
  animation: tilt-shaking 0.25s ease-in-out;
  -moz-animation: tilt-shaking 0.25s ease-in-out;
  -webkit-animation: tilt-shaking 0.25s ease-in-out;
  -o-animation: tilt-shaking 0.25s ease-in-out;
}

/* .button:hover p {
  transition-duration: 0.3s;
  scale: 1.05;
} */
